<header class="topbar" role="banner">
  <div class="container topbar__inner">
    <div class="topbar__left">
      <a class="topbar__link" href="/kontakti" aria-label="Поискайте оферта">Поискайте оферта</a>
      <span class="topbar__dot" aria-hidden="true">•</span>
      <a class="topbar__link" href="/kontakti" aria-label="Заявете безплатен оглед">Заявете оглед</a>
    </div>
    <div class="topbar__center">Безплатен оглед и оферта в Несебър и региона</div>
    <div class="topbar__right">
      <a class="topbar__link" href="/kontakti">Гаранция</a>
      <span class="topbar__dot" aria-hidden="true">•</span>
      <a class="topbar__link" href="/#reviews">Отзиви</a>
    </div>
  </div>
</header>

<div class="masthead">
  <div class="container masthead__inner">
    <button class="icon-btn masthead__burger" id="btnMenu" aria-label="Отвори меню" aria-expanded="false">
      <span class="burger" aria-hidden="true"><span></span></span>
    </button>

    <a class="brand" href="/" aria-label="Начало">
      <img class="brand__logo-img" src="/assets/logos/logonsclima.png" alt="NesebarClima – климатици Несебър" />
    </a>

    <div class="masthead__mid" aria-label="Контакти">
      <div class="contact">
        <span class="contact__icon" aria-hidden="true">
          <svg viewBox="0 0 24 24">
            <path d="M6.6 10.8c1.6 3.2 3.4 5 6.6 6.6l2.2-2.2c.3-.3.8-.4 1.2-.2 1.3.5 2.7.8 4.1.8.7 0 1.3.6 1.3 1.3V21c0 .7-.6 1.3-1.3 1.3C10.2 22.3 1.7 13.8 1.7 3.3 1.7 2.6 2.3 2 3 2h3.8c.7 0 1.3.6 1.3 1.3 0 1.4.3 2.8.8 4.1.1.4 0 .9-.3 1.2l-2 2.2Z" />
          </svg>
        </span>
        <div class="contact__text">
          <div class="contact__label">ОБАДИ СЕ НА:</div>
          <div class="contact__value">+359 899 123 123</div>
        </div>
      </div>
      <div class="contact">
        <span class="contact__icon" aria-hidden="true">
          <svg viewBox="0 0 24 24">
            <path d="M6.6 10.8c1.6 3.2 3.4 5 6.6 6.6l2.2-2.2c.3-.3.8-.4 1.2-.2 1.3.5 2.7.8 4.1.8.7 0 1.3.6 1.3 1.3V21c0 .7-.6 1.3-1.3 1.3C10.2 22.3 1.7 13.8 1.7 3.3 1.7 2.6 2.3 2 3 2h3.8c.7 0 1.3.6 1.3 1.3 0 1.4.3 2.8.8 4.1.1.4 0 .9-.3 1.2l-2 2.2Z" />
          </svg>
        </span>
        <div class="contact__text">
          <div class="contact__label">ОБАДИ СЕ НА:</div>
          <div class="contact__value">+359 899 123 123</div>
        </div>
      </div>
    </div>

    <div class="masthead__right" aria-label="Локации и действия">
      <div class="location">
        <span class="location__icon" aria-hidden="true">
          <svg viewBox="0 0 24 24">
            <path d="M12 2c4.4 0 8 3.6 8 8 0 2.2-.8 4.1-2.2 5.6L12 22l-5.8-6.4A8 8 0 0 1 4 10c0-4.4 3.6-8 8-8Zm0 2a6 6 0 0 0-6 6c0 1.7.6 3.2 1.7 4.4L12 19l4.3-4.6A6 6 0 0 0 18 10a6 6 0 0 0-6-6Z" />
          </svg>
        </span>
        <div class="location__text">
          <div class="location__label">НЕСЕБЪР</div>
          <div class="location__label">СЛЪНЧЕВ БРЯГ • РАВДА • СВЕТИ ВЛАС</div>
        </div>
      </div>

      <div class="headIcons" aria-label="Икони">
        <a class="headIcon headIcon--cart" href="/cart" data-cart-toggle aria-label="Количка">
          <svg viewBox="0 0 24 24" aria-hidden="true">
            <path d="M7 18a2 2 0 1 0 2 2 2 2 0 0 0-2-2Zm10 0a2 2 0 1 0 2 2 2 2 0 0 0-2-2ZM6.2 6l.44 2H19a1 1 0 0 1 .97 1.25l-1.2 5A2 2 0 0 1 16.83 16H8.2a2 2 0 0 1-1.96-1.57L4.28 4H2V2h3a1 1 0 0 1 .98.8L6.2 6Z" />
          </svg>
          <span class="headIcon__badge" aria-label="Количка: 0">0</span>
        </a>
      </div>
    </div>
  </div>

  <div class="navline">
    <div class="container navline__inner">
      <nav class="primary" aria-label="Основна навигация">
        <a class="primary__link" href="/produkti">КЛИМАТИЦИ</a>
        <a class="primary__link" href="/uslugi">УСЛУГИ</a>
        <a class="primary__link" href="/about">ЗА НАС</a>
        <a class="primary__link" href="/kontakti">КОНТАКТИ</a>
      </nav>
      <div class="stock" id="headerStock" aria-label="Стоки и сума">
        <span>Стоки: <span id="headerStockCount">0</span></span>
        <span class="stock__sep">|</span>
        <span id="headerStockTotal">(0,00 € | 0,00 лв.)</span>
      </div>
    </div>
  </div>
</div>
